  .logo {
    padding: 0;
    opacity: 100%;
    width: 20%;
    height: auto;
    }
    
    * {box-sizing:border-box}
    .mySlides {display: none}
    img {vertical-align: middle;}
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 100%;
      padding-top: 10.5%;
      
    }
    .slideshow-img1 {
      height: auto;
      max-width: 50%;
    }

    .slideshow-text1 {
      float: right;
      text-align: center;
      padding: 0% 0% 0 10%;
      margin: 10% 10% 13% 0%;
      font-size: 3vw;
      
    }

    h3 {
      font-family: Roboto-Thin;
      color: rgb(11, 65, 75);
    }

    .row2 {
      content: "";
      clear: both;
      display: table;
    }

    .column2 {
      float: left;
      width: 50%;
    }

    .columntext {
      float: left;
      width: 40%;
      
    }

    .slideshow-box2 {
      width: 100%
      padding: 0% 0% 10% 0%;
    }
    .slideshow-img2 {
      float: left;
      width: 50%;
      
    }

    .slideshow-text2 {
      float: left;
      padding: 5% 10% 0% 5%;
      font-size: 3vw;
    }

    .slideshow-img3 {
      height: auto;
      max-width: 50%;
      display: block;
      margin: auto;
    }

    .slideshow-text3 {
      text-align: center;
      margin: 0 0 0 0;
    }

    .slide-left,.slide-left-img {
      overflow:hidden;
      animation: slide-left 3s infinite;
    }
    
    @keyframes slide-left {
      0% {
        padding-left: 10.5%;
        /*width: 100%;*/
      }
    
      50% {
        padding-left: 9.4%;
        /*width: 100%;*/
      }
      100% {
        padding-left: 10.5%;
        /*width: 100%;*/
      }

    }

    @keyframes slide-left-img {
      0% {
        width: 48%;
        /*width: 100%;*/
      }
    
      50% {
        width: 50%;
        /*width: 100%;*/
      }
      100% {
        width: 48%;
        /*width: 100%;*/
      }
    }

    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 58%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: rgb(11, 65, 75);
      font-weight: bold;
      font-size: 2vw;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
 
    
    
    
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0.5% 0% 0 0.5%;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      position: sticky;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }

    /* LAST YEAR TSA STYLE ENDS */

    @font-face {
      font-family: Roboto-Light;
      src: url(font/Roboto-Light.ttf);
    }
    * {
      font-family: Roboto-Light;
      box-sizing: border-box;
    }
    @font-face {
      font-family: DSRegular;
      src: url(font/DancingScript-Regular.ttf);
    }
    @font-face {
      font-family: DSVariable;
      src: url(font/DancingScript-VariableFont_wght.ttf)
    }
    @font-face {
      font-family: Roboto-Bold;
      src: url(font/Roboto-Bold.ttf)
    }
    @font-face {
      font-family: Roboto-boi;
      src: url(font/Roboto-BoldItalic.ttf)
    }
    @font-face {
      font-family: Roboto-Thin;
      src: url(font/Roboto-Thin.ttf)
    }
    @font-face {
      font-family: Roboto-Black;
      src: url(font/Roboto-Black.ttf)
    }
    
    .sticky {
      position: fixed;
      top: 0%;
      width: 100%;
      background-color: rgb(255,255,255);
    }
    
    .topnav {
      overflow: visible;
      z-index: 9999;
      
    }
    .symmetry {
      float: none;
    }
    
    .topnav a {
      color:rgb(0, 128, 134);
      text-align: center;
      display: inline-block;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      font-family: Roboto-Light;
      font-size: 100%;
      padding: 0% 1% 1% 1%;
      
    }
    
    .nav-item {
      margin-left: 5%;
      margin-right: 5%;
    }
    
        .topnav a:before {
            opacity: 0;
            transform: translateY(- 8px);
            transition: transform 0s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s;
            content: '';
            position: absolute;
            bottom: 2px;
            left: 0; right: 0;
            height: 2px;
            background-color: rgb(0, 128, 134);
        }
        .topnav a:after {
            opacity: 0;
            transform: translateY(4px);
            transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0.2s;
            content: '';
            position: absolute;
            bottom: 2px;
            left: 0; right: 0;
            height: 2px;
            background-color: rgb(0, 128, 134);
        }
    
      .topnav a:hover::before, a:focus::before {
        opacity: 1;
        transform: translateY(0);
        transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0.2s;
        font-weight: bold;
            }
      .topnav a:hover::after, .topnav a:focus::after {
        opacity: 1;
        transform: translateY(0);
        transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s 0.2s;
    
      }

    
    .vc-head {
      margin: 1% 0  1% 11%;
    }

    @media screen and (max-width: 1200px) {
      .nav-item {
        margin-left: 4%;
        margin-right: 4%;
      }

      .vc-head {
        margin: 1% 0 1% 9%;
      }

    }

      @media screen and (max-width: 900px) {
        .topnav a {
          float: none;
          display: block;
          text-align: center;
          position: relative;
          padding: 1% 1% 1% 1%;
        }
        
        .topnav {
          float: left;
          outline: none;
          border: none;
        }
      
        .vc-head {
          margin: 0 0 0 0;
        }
      }